@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* --------- ОБЩИЕ СТИЛИ --------- */

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400; /* потому чо font facia показала regular */
}

.common-section {
    padding: 80px 0;
    text-align: center;
}

.common-section--dark {
    background-color: #192024;
}

.common-section--dark * {
    color: #fff;
}

.common-section--dark .title {
    color: #fff;
}

.common-section--dark .subtitle {
    color: #e8e8e8;
}

.container {
    /* не 940, а 970 из-за box-sizing border box */
    max-width: 970px; /* ограничивает ширину элементов */
    padding: 0 15px;
    margin: 0 auto; /* центрируем по горизонтали */
}

p {
    color: #6a859c;
    line-height: 1.8; /* для масштабируемости */
}

/* --------- СТИЛИ ДЛЯ HEADER --------- */

.homepage-header {
    padding: 20px 0;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    background-color: #fff;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #69b9ff;
}

.homepage-header-nav ul {
    display: flex;
}

.homepage-header-nav li + li {
    /* li + li объясняется в видеоролике */
    margin-left: 40px;
}

.homepage-header-nav a {
    font-size: 16px;
    line-height: 125%;
    color: #676770;

    transition: color 0.2s;
}

.homepage-header-nav a:hover {
    font-size: 15px;
    line-height: 133%;
    color: #0082f3;
}

.homepage-header-nav a:active {
    /* плагин для Figma Color Compass, разбор в видеоролике. */
    color: #0065bd;
}

/* --------- СТИЛИ ДЛЯ MAIN --------- */

.welcome {
    min-height: 600px; /* из макета, значение примерное, округлённое */
    height: 100vh;
    color: #ffffff;
    padding: 195px 250px;

    display: flex;
    flex-direction: column; /* элементы идут сверху вниз */
    align-items: center; /* выравнивание по горизонтали */
    justify-content: center; /* выравнивание по вертикали */
    min-height: 100vh; /* секция занимает весь экран по высоте */
    text-align: center;

    /* на тот случай, если картинка не загружается.
        метод пипетки. см. velocity #2:40 */
    background-color: #1b1c1f;
    background-image: url(img/welcome.png);
    background-size: cover;
    background-position: center;
}

.welcome-links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-heading {
    margin-bottom: 100px;

    font-size: 59px;
    line-height: 102%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #fff;
}
.welcome-links > * + * {
    /* внутри w.l. и есть предыдущий сосед */
    margin-left: 20px;
}

.link-primary {
    padding: 10px 30px;
    width: 138px;
    height: 43px; /* необходимо подогнать выстоту, чтобы она была одинаковой
    у обеих кнопок */
    border-radius: 4px;

    font-size: 16px;
    line-height: 131%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;

    background-color: #69b9ff;
}

.link-primary:hover {
    background-color: #7ac1ff;
}

.link-primary:active {
    background-color: #1994ff;
}

.link {
    display: inline-block; /* пока что вообще непонятно */
    padding: 10px 30px;

    font-size: 16px;
    line-height: 131%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;

    /* добавляем рамку: в фигме щелкаем по рамке + inspect styles */
    border: 1px solid #fff;
    border-radius: 4px;
    width: 183px;
    height: 43px;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.link:active {
    background-color: rgba(0, 0, 0, 0.2);
}

/* --------- ABOUT WHAT WE DO --------- */

.about .cards-wrapper {
    display: flex;
    justify-content: space-between;
}

.title-wrapper {
    margin-bottom: 60px;
}

.title {
    margin-bottom: 17px; /* разобрался, почему так. действует на все несколько тайтлов */

    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    text-align: center;

    color: #676770;
}

.subtitle {
    font-size: 17px;
    line-height: 118%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    text-align: center;
    color: #8e8e9c;
}

.about .card {
    width: 300px;
    height: 291px;
    padding: 35px 15px 20px 15px;

    border: 1px solid #dcebf7;
    border-radius: 5px;
}

.about .card img {
    margin-bottom: 20px;

    width: 94px; /* вдруг, если кто-то загрузит картинку больше, чтобы она
    не разъехалась. */
    height: 94px;
    object-fit: contain; /* разобраться */
}

.about .card h4 {
    margin-bottom: 15px;

    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.35em;
    text-transform: uppercase;
    color: #676770;
}

.services {
}

.services .cards-wrapper {
    display: flex;
    justify-content: space-between;
}

.services .card {
    width: 45%; /* ??? */
}

.services .card img {
    margin-bottom: 20px;
}

.services .card h4 {
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.35em;
    text-transform: uppercase;
}

.services .link {
    margin-top: 15px;
}

/* --------- TAB SECTION --------- */

.tab-section {
}
.common-section {
}
.container {
}
.title-wrapper {
}
.title {
}
.subtitle {
}
.tabs {
}
.tabs__nav {
    margin-bottom: 50px;
}

.tabs__nav button {
    padding: 1px 30px;

    font-size: 16px;
    line-height: 131%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;

    border-radius: 4px;
    width: 196px;
    height: 21px;
    background: #92a0ad;
}

.tabs-nav button.active {
    background: #2e80b6;
}

.tabs-nav button + button {
    margin-left: 15px;
}

.tabs__item img {
    margin-bottom: 15px;
}

.tabs__item h4 {
    margin-bottom: 15px;

    font-size: 31px;
    line-height: 116%;
    color: #676770;
}

.tabs__desc {
}

/* то расширение читается как экстрактран (для CSS) */
/* &nbsp; - неразрывный пробел */
