@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* ОБЩИЕ СТИЛИ */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; /* потому чо font facia показала regular */
}
.container {
    /* не 940, а 970 из-за box-sizing border box */
    max-width: 970px; /* ограничивает ширину элементов */
    padding: 0 15px;
    margin: 0 auto; /* центрируем по горизонтали */
}

p {
    color: #6A859C;
    line-height: 1.8; /* для масштабируемости */
}

/* СТИЛИ ДЛЯ HEADER */

.main-header {
    padding: 20px 0;

}


.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #69b9ff;
}

.main-header-nav ul {
    display: flex;
}

.main-header-nav li + li { /* li + li объясняется в видеоролике */
    margin-left: 40px;
}

.main-header-nav a {
    font-size: 16px;
    line-height: 125%;
    color: #676770;

    transition: color 0.2s;
}

.main-header-nav a:hover {
    font-size: 15px;
    line-height: 133%;
    color: #0082f3;
}

.main-header-nav a:active { /* плагин для Figma Color Compass, разбор в видеоролике. */
    color: #0065BD;
}

/* СТИЛИ ДЛЯ MAIN */

.page-main {
}
.welcome {
}
.container {
}
.welcome__heading {
}
.welcome__links {
}
.link__primary {
}
.link {
}